<!DOCTYPE html>
<h1>{{titulo}}</h1>
<!--<div ng-hide="anuncios">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
</div>-->

    <div class="col-sm-10">
        <input type="text" ng-model="busqueda" placeholder="Buscar..." class="form-control" ><br>
        <!--<p><small> Buscando: {{busqueda}}  </small></p>-->
            
    </div>
    <div class="col-sm-3" ng-repeat="anuncio in anuncios | filter:busqueda">
            
        <div class="">
            <span>{{anuncio.titulo}}</span>
        </div>
        
        <div class="">
          <span class="">Número de registro</span>
          <span>{{anuncio.identificador}}{{anuncio.numero-de-registro}}</span>
        </div>
        <div class="">
          <span class="">Documento</span>
          <span><a ng-href={{anuncio.documento}} class="" target="_blank">Descargar</a></span>
        </div>
         <div class="">
          <span class="">Categoría</span>
          <span>{{anuncio.categorias.categoria[0].content}}</span>
        </div>  
    </div>
    
    <!--<div class="col-sm-3" ng-repeat="anuncio in anuncios | filter:busqueda">
            <div class="" ng-click="verDetalles(anuncio.identificador)">
                <div class="content">
                    <p>{{anuncio.identificador}} {{anuncio.organizacion-remitente}}<br>
                       <small>{{anuncio.titulo}}</small></p>
                </div>
            </div>
    </div>-->