<h1>Anuncios Ayto. Gijón</h1>
<div ng-hide="anuncios">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
</div>

    <div class="col-sm-10">
        <input type="text" ng-model="busqueda"  class="form-control" ><br>
        <p><small> Buscando: {{busqueda}}  </small></p>
            
    </div>
    <div class="col-sm-3" ng-repeat="anuncio in anuncios">
            <div class="" ng-click="verDetalles(anuncio.portales.portal.id, anuncio.identificador)">
                <div class="content">
                    <p>{{anuncio.identificador}} {{anuncio.locale}}</p>
                      
                </div>
            </div>
    </div>