<div class="site-name">    
    <h1>{{titulo}}</h1>
</div>
<!--<div ng-hide="anuncios">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
</div>-->
<div class="col-sm-12">
    <input type="text" ng-model="busqueda" placeholder="Buscar..." class="form-control" ><br>
    <!--<p><small> Buscando: {{busqueda}}  </small></p>-->
</div>
<div class="col-md-3" ng-repeat="anuncio in anuncios | filter:busqueda">
  <div class="caja-anuncio">  
    <div class="thumbnail">
        <div class="caption">
            <h1> {{anuncio.numero-de-registro != 0 ? anuncio.numero-de-registro : anuncio.identificador }}</h1>
            <ul class="list-unstyled">
                <li><strong>{{anuncio.titulo}}</strong></li>
                <li><span>{{anuncio.categorias.categoria[0].content}}</span></li>
            </ul>
            <ul class="list-unstyled">
                <li><a class="btn" ng-href={{anuncio.documento}} target="_blank">Descargar</a></li>
             </ul>  
        </div>
    </div>
  </div>
</div>
<!--<script type="text/javascript">
	$(function() {
		$(".col-md-3").matchHeight();
	});
</script>-->